<div class="main-div">
    <mat-card appMaterialElevation class="main-card mat-elevation-z20"
        style="background-image: url({{user.templateSettings[0].value}})">
        <div class="noprint bgbutton">
            <button mat-icon-button *ngIf="editmode" class="mat-elevation-z8" [matMenuTriggerFor]="editmenu"
                [matMenuTriggerData]="{attributes: user.templateSettings}" #editMenu="matMenuTrigger">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <mat-card-header class="reg-padding">
            <img mat-card-avatar class="header-image mat-elevation-z8" [src]="user.presentation[0].value" />
            <mat-card-title class="user-title"><span class="colored">{{user.presentation[1].value}}</span>
                <div class="profile-button noprint">
                    <button mat-icon-button *ngIf="editmode" class="mat-elevation-z4" [matMenuTriggerFor]="editmenu"
                        [matMenuTriggerData]="{attributes: user.presentation}" #editMenu="matMenuTrigger">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
            </mat-card-title>
            <mat-card-subtitle class="colored dark">{{user.presentation[2].value}}</mat-card-subtitle>
            <mat-card-subtitle class="color-transparent">{{user.presentation[3].value}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions class="contact-info">
            <a href="mailto:{{user.email}}">
                <button mat-button>
                    <mat-icon>mail</mat-icon>
                    {{user.email}}
                </button>
            </a>
            <button mat-button>
                <mat-icon>call</mat-icon>
                {{user.mobile}}
            </button>
            <a href="https://{{user.github}}" target="_blank">
                <button mat-button>
                    <img class="icon-img" [src]="'assets/icons/github.svg'" />
                    {{user.github}}
                </button>
            </a>
            <button mat-button>
                <mat-icon>pin_drop</mat-icon>
                {{user.location}}
            </button>
        </mat-card-actions>
        <div class="row">
            <div class="column">
                <mat-card-title class="resume-title">WORK EXPERIENCES<div class="add-button noprint">
                        <button mat-icon-button *ngIf="editmode" class="mat-elevation-z4">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </mat-card-title>
                <div class="reg-spacing">
                    <app-experience *ngFor="let exp of user.workExperiences" [experience]="exp" [editmode]="editmode">
                    </app-experience>
                </div>
            </div>
            <div class="column">
                <mat-card-title class="resume-title">EDUCATION<div class="add-button noprint">
                        <button mat-icon-button *ngIf="editmode" class="mat-elevation-z4">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </mat-card-title>
                <app-experience *ngFor="let acExp of user.academicExperiences" [experience]="acExp"
                    [editmode]="editmode"></app-experience>
                <mat-card-title class="resume-title">SKILLS</mat-card-title>
                <div class="reg-spacing" *ngFor="let category of user.skills">
                    <app-skills [skill]="category" [editmode]="editmode" (triggerSave)="saveData()"></app-skills>
                </div>
            </div>
        </div>

        <mat-card-actions class="align-right">
            <div class="reg-padding"> Made with <a href="{{currentUrl()}}">{{currentUrl()}}</a></div>
            <mat-slide-toggle class="noprint" [(ngModel)]="editmode">Edit mode</mat-slide-toggle>
        </mat-card-actions>
    </mat-card>
</div>

<mat-menu #editmenu="matMenu">
    <ng-template matMenuContent let-attributes="attributes">
        <div class="context-menu" *ngIf="attributes" (click)="captureEvent($event)">
            <div *ngFor="let attribute of attributes">
                <mat-form-field class="context-input" appearance="outline" *ngIf="attribute.value.length <= 50">
                    <mat-label>{{attribute.field}}</mat-label>
                    <input matInput type="text" [(ngModel)]="attribute.value" (click)="captureEvent($event)">
                </mat-form-field>

                <mat-form-field class="context-input" appearance="outline" *ngIf="attribute.value.length > 50">
                    <mat-label>{{attribute.field}}</mat-label>
                    <textarea matInput [(ngModel)]="attribute.value" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
            </div>
            <div class="spaced">
                <button mat-icon-button aria-label="Save" (click)="saveChanges(attributes)">
                    <mat-icon matTooltip="Save" matTooltipShowDelay="1000" class="aprove">done</mat-icon>
                </button>
                <button mat-icon-button aria-label="Remove" (click)="dismiss()">
                    <mat-icon matTooltip="Discart" matTooltipShowDelay="1000" color="warn">close</mat-icon>
                </button>
            </div>

        </div>
    </ng-template>
</mat-menu>