<mat-card-title class="skill-title">{{skill.name}}</mat-card-title>
<mat-chip-list aria-label="Skills">
    <mat-chip *ngFor="let element of skill.content">
        <mat-chip-avatar>
            <img *ngIf="!element.score" class="skill-image" src="{{element.logoUrl}}" alt="{{element.name}}" />
            <mat-progress-spinner
                *ngIf="element.score"
                matBadge="{{element.score}}"
                matBadgeSize="small"
                matBadgeColor="accent"
                matTooltip="Score: {{element.score}}"
                matTooltipShowDelay="1000"
                [value]="element.score"
                [diameter]="28"
                [strokeWidth]="4"
                (mouseenter)="changeColor()">
            </mat-progress-spinner>
        </mat-chip-avatar>
        {{element.name}}
    </mat-chip>
</mat-chip-list>