<mat-card-title class="skill-title">{{skill.name}}</mat-card-title>
<mat-chip-list aria-label="Skills">
    <mat-chip *ngFor="let element of skill.content">
        <mat-chip-avatar>
            <mat-progress-spinner
                matBadge="JS"
                matBadgeSize="small" 
                [value]="90"
                [diameter]="28"
                [strokeWidth]="4"
                (mouseenter)="changeColor()">
            </mat-progress-spinner>
        </mat-chip-avatar>
        {{element}}
    </mat-chip>
</mat-chip-list>