.skill-title {
    font-size: larger;
}

.mat-chip {
    border: 1px solid darkgray
}

:host ::ng-deep .mat-badge-content 
{
left: 2px !important;
top: 4px !important;
width: 20px;
text-overflow: unset;
}