/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spaced {
    display: flex;
    flex-direction: row;
    align-items :flex-end;
    justify-content: right;
}



@media print {
    .noprint {
       display: none;
       visibility: hidden;
       height: 0 !important;
       padding: 0 !important;
    }
 }