<mat-card-header>
    <img mat-card-avatar class="exp-image" [src]="experience[0].value" />
    <mat-card-title class="exp-title">{{experience[1].value}}
        <div class="noprint">
            <button mat-icon-button *ngIf="editmode" class="mat-elevation-z8" [matMenuTriggerFor]="editmenu"
                [matMenuTriggerData]="{attributes: experience}" #editMenu="matMenuTrigger">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </mat-card-title>
    <mat-card-subtitle>{{experience[3].value}} {{experience[2].value}}</mat-card-subtitle>
    <mat-card-subtitle>{{experience[4].value}}</mat-card-subtitle>
</mat-card-header>

<mat-menu #editmenu="matMenu">
    <ng-template matMenuContent let-attributes="attributes">
        <div class="context-menu" *ngIf="attributes" (click)="captureEvent($event)">
            <div *ngFor="let attribute of attributes">
                <mat-form-field class="context-input" appearance="outline" *ngIf="attribute.value.length <= 50">
                    <mat-label>{{attribute.field}}</mat-label>
                    <input matInput type="text" [(ngModel)]="attribute.value" (click)="captureEvent($event)">
                </mat-form-field>

                <mat-form-field class="context-input" appearance="outline" *ngIf="attribute.value.length > 50">
                    <mat-label>{{attribute.field}}</mat-label>
                    <textarea matInput [(ngModel)]="attribute.value" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
            </div>
            <div class="spaced">
                <button mat-icon-button aria-label="Save" (click)="saveChanges(attributes)">
                    <mat-icon matTooltip="Save" matTooltipShowDelay="1000" class="aprove">done</mat-icon>
                </button>
                <button mat-icon-button aria-label="Remove" (click)="dismiss()">
                    <mat-icon matTooltip="Discart" matTooltipShowDelay="1000" color="warn">close</mat-icon>
                </button>
            </div>

        </div>
    </ng-template>
</mat-menu>